.x-auto0 {
    display: table;
    width: 0px;
    height: 0px;
    border: 0px solid rgb(0, 0, 0);
    margin: 0px auto;
}

.x-auto1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: red;
    display: none;
}

.x-auto2 {
    width: 0px;
    margin: 0px auto;
}

.x-auto3 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.x-auto4 {
    width: 692px;
    height: 534px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
    background: rgb(255, 255, 255) url(../imgs/number-setting.jpg);
}