body {
    background: url(../images/bgjk.png) #EFE9C7;
}

.upload-image{
    border: 1px solid #000;
}

.top2w {
    width: 1330px;
    /*margin-top: 10px;*/
}

.topfl {
    margin-left: 70px;
    width: 150px;
    text-align: left;
}

.topf2 {
    width: 130px;
    text-align: left;
}

.topr2 {
    width: 160px;
    text-align: center;
}

.tdbg {
    background: #F5F0DF;
}

.toptdbg {
    background: #EED5D2;
    text-align: center;
}

input[type=text] {
    border: 0px solid #333;
    color: #333;
    background: transparent;
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
}

input.found-factory[type=text] {
    color: red;
}
input.extracted-product[type=text] {
    color: red;
}

.input2 {
    border: 0;
    background: #F6D6FB;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.btn-login {
    height: 23px;
    width: 42px;
    cursor: pointer;
    border: 0;
    background: none;
}

.product-image {
    width: 20px;
    height: 20px;
}

.not-has-image img {
    display: none;
}
.has-image input {
    display: none;
}




#cus-list {
    margin-top: 25px;
    overflow: hidden;
}
#cus-list .text{
    width: 60px;
}
#cus-list .text.key-cus-name {
}

#cus-list ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 1120px;
}
#cus-list li {
    background-color: #fff;
    list-style: none;
    float: left;
    width: 80px;
    margin-left: 5px;
    border: 1px solid #B47BFE;
    height: 18px;
}
.favor-cus-name a {
    display: block;
    width: 100%;
}

.top2 {
    margin-top: 20px;
}


.dialog-header {
    text-align: right;
}

.dialog-close img {
    width: 24px;
    height: 24px;
    margin: 10px 10px 0px 0px
}

#cus-list .favor-cus-name.current a{
    color: red;
}
#cus-list .favor-cus-name.empty.current {
    border: 1px solid red;
}